.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.app {
  display: grid;
  grid-template-rows: 120px auto;
}

.app_main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
